.button {
  border-color: transparent;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  padding: 7px 15px;
}

.fill {
  background-color: var(--color-primary);
  color: var(--color-light-text-high);
}

.fill:hover {
  background-color: var(--color-primary-dark);
}

.border {
  border-color: var(--color-primary);
  color: var(--color-dark-text-medium);
}

.border:hover {
  background-color: var(--color-background);
  color: var(--color-dark-text-high);
}

.m {
  font-size: var(--font-size-body1);
}

.s {
  font-size: var(--font-size-body3);
}
