.ranking {
  background-color: var(--color-surface);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.ranking__headline {
  font-size: var(--font-size-subhead);
}

.ranking__list {
  padding-left: 28px;
}

.ranking__listItem {
  margin-top: 16px;
}

.ranking__listItem::marker {
  color: var(--color-dark-text-medium);
  font-weight: bold;
}

.ranking__link {
  color: inherit;
  display: block;
  margin-left: 8px;
  text-decoration: none;
}

.ranking__link:hover {
  color: var(--color-primary-dark);
}
